#ssContanair{	
	width:800px;
	height:550px;
	background-color:white;

	border-style: solid;
    border-width: 5px;
}


table{
	float:left;	
}

td{
	/*min-width: 10px;*/
	height: 45px;	
}

div.sSeat{
	float: left;
	width: 40px;
	height: 40px;
	margin:4px;
	background-color: blue;
}
div.sSeat:hover{	
	width: 40px;
	height: 40px;
	margin:4px;
	background-color: black;
}


div.fSeat{
	width: 55px;
	height: 55px;
	margin:4px 4px 7px 4px;
	background-color: blue;
}
div.fSeat:hover{	
	width: 55px;
	height: 55px;
	margin:4px 4px 7px 4px;
	background-color: black;
}


div.bSeat{
	width: 60px;
	height: 60px;
	margin:auto;	
	background-color: blue;
	color:white;
	text-align: center;

	border-radius: 100px;	
}
div.bSeat:hover{	
	width: 60px;
	height: 60px;
	margin:auto;
	background-color: black;
	border-radius: 100px;
}

p.bbText{
	margin:auto;
	padding-top:16px;
	font-size: 22px;
	font-weight: bold;
	
}