body{
	background-color:#285CB9;
	background-image: url("../images/Background.png");
	background-attachment: fixed;

	margin: 0px auto;
	max-width:800px;
	min-width:350px;
	
	font-family:sans-serif;
	color:#2C3E50;
}


header{
	height:100px;
	 
}

nav{
	/*background-color: #225378;
	box-shadow: 2px 2px 10px #2C3E50;*/
	width:100%;
	padding-top:5px;	
	padding-bottom:5px;
	margin-bottom:10px;
	
}

a.nav{
	padding-top: 5px;
	padding-bottom:6px;
	padding-left:40px;
	padding-right:40px;
	margin-right:10px;

	text-decoration: none;
	color:white;	
	background-color: #225378;
	box-shadow: 2px 2px 10px #2C3E50;
	-webkit-transition: background-color 0.5s,color 0.5s, font-weight 0.5s;
    transition: background-color 0.5s,color 0.5s, font-weight 0.5s;
    
}

a.nav:hover{
	padding-top: 5px;
	padding-bottom:6px;
	padding-left:40px;
	padding-right:40px;
	margin-right:10px;
	
	text-decoration: none;
	font-weight: bold;
	color:#225378;
	background-color: white;
	box-shadow: 2px 2px 10px #2C3E50;
}

a.nav:active{
	padding-top: 5px;
	padding-bottom:6px;
	padding-left:40px;
	padding-right:40px;
	margin-right:10px;

	text-decoration: none;
	color:white;
	background-color: #225378;
	box-shadow: 2px 2px 10px #2C3E50;
}

div#Footer{
	display: block;
	padding-top:5px;
	padding-bottom:5px;
	max-height:100px;
	margin-top: 10px;
	font-size: 12px;
	color:#225378;
	background-color:#B1DDF1; 		
	box-shadow: 0px 0px 10px #2C3E50;
	text-align: center;
}

a.foot{	
	padding-top:5px;	
	margin-left:5px;
	margin-right:5px;
	font-weight: bold;
	text-decoration: none;
	color:#225378;
}

a.foot:hover{	
	margin-top:50px;	
	margin-left:5px;
	margin-right:5px;
	font-weight: bold;
	color:white;
	text-decoration:underline;		
}

hr.foot{
	margin:5px 0px 5px 0px;
}
